* {
  margin: 0;
}

.app {
  background-color: #FAFAFA;
  margin-top: 30px;
}

header {
  position: fixed !important;
  top: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app__headerImage {
  height: 30px;
}

.app-body {
  display: flex;
  justify-content: center;
  margin-top: 105px;
}

h1 {
  margin: 30px 0;
}

.app__headerImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}